In [1]:
import pandas as pd

"""
DataFrame：表
Series：1次元配列（縦列、横列どちらもSeriesという）
"""

'\nDataFrame：表\nSeries：1次元配列（縦列、横列どちらもSeriesという）\n'

In [2]:
# dictionaryを使用して、pd.Seriesを作成
data = {
    "name": 'John',
    'sex': 'male',
    'age': 20,
    'height': 170,
    'weight': 70
}
John_s = pd.Series([data])
print(John_s)

0    {'name': 'John', 'sex': 'male', 'age': 20, 'he...
dtype: object

In [4]:
import numpy as np

# ndarrayを使用して、pd.Seriesを作成
data = np.array(['John', 'Jane', 'Mike'])
John_s = pd.Series(data)
print(John_s)

0    John
1    Jane
2    Mike
dtype: object

In [5]:
# 第二引数にindexのラベルを設定することもできる（設定しないと、数字が割り当てられる）
data = np.array(['John', 'Jane', 'Mike'])
labels = ['a', 'b', 'c']
pd.Series(data, labels)

a    John
b    Jane
c    Mike
dtype: object

## データフレームの作り方

In [6]:
ndarray = np.random.randint(5, size=(4, 3))
pd.DataFrame(ndarray)

   0  1  2
0  1  1  4
1  4  1  3
2  0  2  0
3  1  2  3

In [8]:
# indexとcolumnsを設定することもできる
columns = ['a', 'b', 'c']
index = np.arange(0, 40, 10)
pd.DataFrame(data=ndarray, index=index, columns=columns )

    a  b  c
0   1  1  4
10  4  1  3
20  0  2  0
30  1  2  3

In [9]:
# dictionaryを使用して、データフレームを作成
data1 = {
    'name': 'John',
    'sex': 'male',
    'age': 20
}

data2 = {
    'name': 'Jane',
    'sex': 'female',
    'age': 20
}

data3 = {
    'name': 'Mike',
    'sex': 'male',
    'age': 20
}

pd.DataFrame([data1, data2, data3])

   name     sex  age
0  John    male   20
1  Jane  female   20
2  Mike    male   20

In [7]:
# csvファイルを読み込む
pd.read_csv('/home/jovyan/work/train.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
df = pd.read_csv('/home/jovyan/work/train.csv')
df.head() # 最初の５行

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
# 統計量
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
# カラムの表示
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [12]:
type(df['Age'])

pandas.core.series.Series

In [16]:
# 複数のカラムを抽出する
df[['Age', 'Parch', 'Ticket']].head()

    Age  Parch            Ticket
0  22.0      0         A/5 21171
1  38.0      0          PC 17599
2  26.0      0  STON/O2. 3101282
3  35.0      0            113803
4  35.0      0            373450

以下は間違い
- 複数のカラムを抽出するときは、[]に入れてあげる必要がある


`df['Age', 'Parch', 'Ticket'].head()`

In [17]:
# 特定の行を取得
df.iloc[28]

PassengerId                               29
Survived                                   1
Pclass                                     3
Name           O'Dwyer, Miss. Ellen "Nellie"
Sex                                   female
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                                330959
Fare                                  7.8792
Cabin                                    NaN
Embarked                                   Q
Name: 28, dtype: object

In [18]:
df.iloc[28]['Age']

np.float64(nan)

In [21]:
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

### df[]とdf.iloc[]の違い
- df[]は「縦方向」
- df.iloc[]は、「縦（行）」と「横（列）」のどちらも指定できる

df['Age']
df.iloc[28]
df.iloc[28]['Age']

In [22]:
# 行を落とす
df.drop(0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [24]:
df.drop('Age', axis=1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,NaN,Q

## 特定の条件でフィルタする

In [26]:
# 0=死亡, 1=生存
df['Survived'] == 1

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: Survived, Length: 891, dtype: bool

In [27]:
fileter = df['Survived'] == 1
df[fileter]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [28]:
# 生存者でフィルター
df[df['Survived'] == 1].describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,342.000000,342.0,342.000000,290.000000,342.000000,342.000000,342.000000
mean,444.368421,1.0,1.950292,28.343690,0.473684,0.464912,48.395408
std,252.358840,0.0,0.863321,14.950952,0.708688,0.771712,66.596998
min,2.000000,1.0,1.000000,0.420000,0.000000,0.000000,0.000000
25%,250.750000,1.0,1.000000,19.000000,0.000000,0.000000,12.475000
50%,439.500000,1.0,2.000000,28.000000,0.000000,0.000000,26.000000
75%,651.500000,1.0,3.000000,36.000000,1.000000,1.000000,57.000000
max,890.000000,1.0,3.000000,80.000000,4.000000,5.000000,512.329200

In [29]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [30]:
# 60歳以上
df[df['Age'] >= 60]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S
456,457,0,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S
555,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
570,571,1,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S
587,588,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.0,1,1,13567,79.2000,B41,C
625,626,0,1,"Sutton, Mr. Frederick",male,61.0,0,0,36963,32.3208,D50,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
672,673,0,2,"Mitchell, Mr. Henry Michael",male,70.0,0,0,C.A. 24580,10.5000,NaN,S
684,685,0,2,"Brown, Mr. Thomas William Solomon",male,60.0,1,1,29750,39.0000,NaN,S
694,695,0,1,"Weir, Col. John",male,60.0,0,0,113800,26.5500,NaN,S
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S

In [36]:
# 複数条件でフィルタリング
df[(df['Age'] >= 60) & (df['Sex'] == 'female')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN

In [37]:
df[(df['Age'] >= 60) | (df['Sex'] == 'female')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [48]:
# ~(スクィグル)をつけるとNot演算でフィルタ
# TODO: これうまくいかない？　Booleanじゃないから？
df[~df['Survived']==1]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [52]:
# indexを割り振る
df = df[df['Sex'] == 'male']
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [53]:
# indexを割り振る
df.reset_index()
"""
indexカラムが元々のインデックス
一番左側が新しいindexカラム
"""

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
2,5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
3,6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
4,7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
573,884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
574,886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
575,889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
576,890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [54]:
# 特定のカラムをインデックスに設定
df.set_index('Name')

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
"Banfield, Mr. Frederick James",884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
"Sutehall, Mr. Henry Jr",885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

## Nan（欠損地）の処理

In [55]:
# NaNがある行をドロップする
df.dropna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
...,...,...,...,...,...,...,...,...,...,...,...,...
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [57]:
# NaNがあるカラムをドロップする(Age, Cabin)
df.dropna(axis=1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,S
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",male,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,3,1,349909,21.0750,S
...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,0,0,C.A./SOTON 34068,10.5000,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,0,0,SOTON/OQ 392076,7.0500,S
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,S
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,Q

In [58]:
# subsetにNaNチェックの対象とする列

df.dropna(subset=['Age'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [59]:
# NaNに特定の値を入れる
df.fillna('This is nan!')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,This is nan!,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,This is nan!,S
5,6,0,3,"Moran, Mr. James",male,This is nan!,0,0,330877,8.4583,This is nan!,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,This is nan!,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,This is nan!,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,This is nan!,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,This is nan!,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,This is nan!,Q

In [60]:
# 欠損値を平均値で埋める
df['Age'].fillna(df['Age'].mean())

0      22.000000
4      35.000000
5      30.726645
6      54.000000
7       2.000000
         ...
883    28.000000
884    25.000000
886    27.000000
889    26.000000
890    32.000000
Name: Age, Length: 577, dtype: float64

In [61]:
# 代入
df['Age'] = df['Age'].fillna(df['Age'].mean())
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,30.726645,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.000000,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [63]:
# DataFrameの中の値のNaN判定には pd.isna() を使う
pd.isna(df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
883,False,False,False,False,False,False,False,False,False,False,True,False
884,False,False,False,False,False,False,False,False,False,False,True,False
886,False,False,False,False,False,False,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [65]:
# NaN判定の結果を別のカラムで持つ
df['Cabin_nan'] = pd.isna(df['Cabin'])
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_nan
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,True
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,True
5,6,0,3,"Moran, Mr. James",male,30.726645,0,0,330877,8.4583,NaN,Q,True
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S,False
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,NaN,S,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,S,True
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.000000,0,0,SOTON/OQ 392076,7.0500,NaN,S,True
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S,True
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C,False
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q,True

## グループ化

In [73]:
# numeric_only=Trueは、数値のみ処理に含める
df.groupby('Pclass').mean(numeric_only=True)

,PassengerId,Survived,Age,SibSp,Parch,Fare,Cabin_nan
Pclass,,,,,,,
1,455.729508,0.368852,39.464586,0.311475,0.278689,67.226127,0.221311
2,447.962963,0.157407,30.739535,0.342593,0.222222,19.741782,0.944444
3,455.515850,0.135447,27.650503,0.498559,0.224784,12.661633,0.982709

In [74]:
df[df['Pclass'] == 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_nan
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S,False
23,24,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,S,False
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,S,False
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.000000,0,0,PC 17601,27.7208,NaN,C,True
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.000000,1,0,PC 17604,82.1708,NaN,C,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,840,1,1,"Marechal, Mr. Pierre",male,30.726645,0,0,11774,29.7000,C47,C,False
857,858,1,1,"Daly, Mr. Peter Denis",male,51.000000,0,0,113055,26.5500,E17,S,False
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,A24,S,False
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.000000,0,0,695,5.0000,B51 B53 B55,S,False
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C,False

In [76]:
# groupbyを使用しない場合、以下のように記述する必要がある
df[df['Pclass']==1].describe().loc['mean']

PassengerId    455.729508
Survived         0.368852
Pclass           1.000000
Age             39.464586
SibSp            0.311475
Parch            0.278689
Fare            67.226127
Name: mean, dtype: float64

In [78]:
# groupbyを使用して、上記のように、一つのレコードだけを取得
df.groupby('Pclass').mean(numeric_only=True).loc[1]

PassengerId    455.729508
Survived         0.368852
Age             39.464586
SibSp            0.311475
Parch            0.278689
Fare            67.226127
Cabin_nan        0.221311
Name: 1, dtype: float64

In [79]:
df.groupby('Pclass').describe()

       PassengerId                                                       \
             count        mean         std   min     25%    50%     75%
Pclass
1            122.0  455.729508  247.026449   7.0  255.50  480.5  660.75
2            108.0  447.962963  256.922546  18.0  225.75  416.5  677.50
3            347.0  455.515850  261.921251   1.0  209.50  466.0  687.50

              Survived            ... Parch        Fare                        \
          max    count      mean  ...   75%  max  count       mean        std
Pclass                            ...
1       890.0    122.0  0.368852  ...   0.0  4.0  122.0  67.226127  77.548021
2       887.0    108.0  0.157407  ...   0.0  2.0  108.0  19.741782  14.922235
3       891.0    347.0  0.135447  ...   0.0  5.0  347.0  12.661633  11.681696


        min       25%      50%        75%       max
Pclass
1       0.0  27.72810  41.2625  78.459375  512.3292
2       0.0  12.33125  13.0000  26.000000   73.5000
3       0.0   7.75000   7.9250  10.008300   69.5500

[3 rows x 48 columns]

In [83]:
# カラムを省略せずに表示
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df.groupby('Pclass').describe()

       PassengerId                                                       \
             count        mean         std   min     25%    50%     75%
Pclass
1            122.0  455.729508  247.026449   7.0  255.50  480.5  660.75
2            108.0  447.962963  256.922546  18.0  225.75  416.5  677.50
3            347.0  455.515850  261.921251   1.0  209.50  466.0  687.50

              Survived                                                 Age  \
          max    count      mean       std  min  25%  50%  75%  max  count
Pclass
1       890.0    122.0  0.368852  0.484484  0.0  0.0  0.0  1.0  1.0  122.0
2       887.0    108.0  0.157407  0.365882  0.0  0.0  0.0  0.0  1.0  108.0
3       891.0    347.0  0.135447  0.342694  0.0  0.0  0.0  0.0  1.0  347.0

                                                                           \
             mean        std   min        25%        50%        75%   max
Pclass
1       39.464586  14.332942  0.92  30.726645  36.000000  49.000000  80.0
2       30.739535  14.158057  0.67  23.000000  30.726645  36.000000  70.0
3       27.650503  10.545679  0.42  21.000000  30.500000  30.726645  74.0

        SibSp                                               Parch            \
        count      mean       std  min  25%  50%  75%  max  count      mean
Pclass
1       122.0  0.311475  0.546695  0.0  0.0  0.0  1.0  3.0  122.0  0.278689
2       108.0  0.342593  0.566380  0.0  0.0  0.0  1.0  2.0  108.0  0.222222
3       347.0  0.498559  1.288846  0.0  0.0  0.0  0.0  8.0  347.0  0.224784

                                            Fare                             \
             std  min  25%  50%  75%  max  count       mean        std  min
Pclass
1       0.658853  0.0  0.0  0.0  0.0  4.0  122.0  67.226127  77.548021  0.0
2       0.517603  0.0  0.0  0.0  0.0  2.0  108.0  19.741782  14.922235  0.0
3       0.623404  0.0  0.0  0.0  0.0  5.0  347.0  12.661633  11.681696  0.0


             25%      50%        75%       max
Pclass
1       27.72810  41.2625  78.459375  512.3292
2       12.33125  13.0000  26.000000   73.5000
3        7.75000   7.9250  10.008300   69.5500

In [81]:
# 特定のカラムのみ、describeする
df.groupby('Pclass').describe()['PassengerId']

        count        mean         std   min     25%    50%     75%    max
Pclass
1       122.0  455.729508  247.026449   7.0  255.50  480.5  660.75  890.0
2       108.0  447.962963  256.922546  18.0  225.75  416.5  677.50  887.0
3       347.0  455.515850  261.921251   1.0  209.50  466.0  687.50  891.0

In [84]:
# groupbyの結果をFor文で回す
for i, group_df in df.groupby('Pclass'):
    print(i)
    print(type(group_df))
    print(len(group_df))
    print("######")

1
<class 'pandas.core.frame.DataFrame'>
122
######
2
<class 'pandas.core.frame.DataFrame'>
108
######
3
<class 'pandas.core.frame.DataFrame'>
347
######

## 表の結合

In [95]:
df1 = pd.DataFrame({ 'Key': ['k0', 'k1', 'k2'],
                    'A': ['a0', 'a1', 'a2'],
                    'B': ['b0', 'b1', 'b2']})
 
df2 = pd.DataFrame({ 'Key': ['k0', 'k1', 'k3'],
                    'C': ['c0', 'c1', 'c3'],
                    'D': ['d0', 'd1', 'd3']})
print(df1)
print(df2)

  Key   A   B
0  k0  a0  b0
1  k1  a1  b1
2  k2  a2  b2
  Key   C   D
0  k0  c0  d0
1  k1  c1  d1
2  k3  c3  d3

In [96]:
df1.merge(df2)
df1

  Key   A   B
0  k0  a0  b0
1  k1  a1  b1
2  k2  a2  b2

In [97]:
# 縦
# こっちのパターンが多い
pd.concat([df1, df2])

  Key    A    B    C    D
0  k0   a0   b0  NaN  NaN
1  k1   a1   b1  NaN  NaN
2  k2   a2   b2  NaN  NaN
0  k0  NaN  NaN   c0   d0
1  k1  NaN  NaN   c1   d1
2  k3  NaN  NaN   c3   d3

In [98]:
# 横
pd.concat([df1, df2], axis=1)

  Key   A   B Key   C   D
0  k0  a0  b0  k0  c0  d0
1  k1  a1  b1  k1  c1  d1
2  k2  a2  b2  k3  c3  d3

In [99]:
df1.merge(df2, how='left')

  Key   A   B    C    D
0  k0  a0  b0   c0   d0
1  k1  a1  b1   c1   d1
2  k2  a2  b2  NaN  NaN

In [100]:
# leftもrightも結合できるレコードは結合。できないところはNaNで埋める
df1.merge(df2, how='outer')

  Key    A    B    C    D
0  k0   a0   b0   c0   d0
1  k1   a1   b1   c1   d1
2  k2   a2   b2  NaN  NaN
3  k3  NaN  NaN   c3   d3

In [101]:
df1.merge(df2, how='inner')

  Key   A   B   C   D
0  k0  a0  b0  c0  d0
1  k1  a1  b1  c1  d1

In [102]:
df1.merge(df2, on='Key')

  Key   A   B   C   D
0  k0  a0  b0  c0  d0
1  k1  a1  b1  c1  d1

In [104]:
df1.merge(df2, on='Key', suffixes=('_left', '_right'))

  Key   A   B   C   D
0  k0  a0  b0  c0  d0
1  k1  a1  b1  c1  d1

## .unique()と.nunique()

In [105]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_nan
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,True
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,True
5,6,0,3,"Moran, Mr. James",male,30.726645,0,0,330877,8.4583,NaN,Q,True
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S,False
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,NaN,S,True

In [106]:
# ユニークな値のリスト
df['Pclass'].unique()

array([3, 1, 2])

In [107]:
# リストの数
df['Pclass'].nunique()

3

In [108]:
df['Pclass'].value_counts()

Pclass
3    347
1    122
2    108
Name: count, dtype: int64

In [109]:
def get_age_group(age):
    return str(age)[0] + '0代'

get_age_group(28)

'20代'

In [112]:
df['Age_group'] = df['Age'].apply(get_age_group)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_nan,Age_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,True,20代
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,True,30代
5,6,0,3,"Moran, Mr. James",male,30.726645,0,0,330877,8.4583,NaN,Q,True,30代
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S,False,50代
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,NaN,S,True,20代
12,13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,NaN,S,True,20代
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,NaN,S,True,30代
16,17,0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,NaN,Q,True,20代
17,18,1,2,"Williams, Mr. Charles Eugene",male,30.726645,0,0,244373,13.0000,NaN,S,True,30代
20,21,0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,NaN,S,True,30代
21,22,1,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,D56,S,False,30代
23,24,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,S,False,20代
26,27,0,3,"Emir, Mr. Farred Chehab",male,30.726645,0,0,2631,7.2250,NaN,C,True,30代
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,S,False,10代
29,30,0,3,"Todoroff, Mr. Lalio",male,30.726645,0,0,349216,7.8958,NaN,S,True,30代
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.000000,0,0,PC 17601,27.7208,NaN,C,True,40代
33,34,0,2,"Wheadon, Mr. Edward H",male,66.000000,0,0,C.A. 24579,10.5000,NaN,S,True,60代
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.000000,1,0,PC 17604,82.1708,NaN,C,True,20代
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.000000,1,0,113789,52.0000,NaN,S,True,40代
36,37,1,3,"Mamee, Mr. Hanna",male,30.726645,0,0,2677,7.2292,NaN,C,True,30代
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.000000,0,0,A./5. 2152,8.0500,NaN,S,True,20代
42,43,0,3,"Kraeff, Mr. Theodor",male,30.726645,0,0,349253,7.8958,NaN,C,True,30代
45,46,0,3,"Rogers, Mr. William John",male,30.726645,0,0,S.C./A.4. 23567,8.0500,NaN,S,True,30代
46,47,0,3,"Lennon, Mr. Denis",male,30.726645,1,0,370371,15.5000,NaN,Q,True,30代
48,49,0,3,"Samaan, Mr. Youssef",male,30.726645,2,0,2662,21.6792,NaN,C,True,30代
50,51,0,3,"Panula, Master. Juha Niilo",male,7.000000,4,1,3101295,39.6875,NaN,S,True,70代
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.000000,0,0,A/4. 39886,7.8000,NaN,S,True,20代
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.000000,0,1,113509,61.9792,B30,C,False,60代
55,56,1,1,"Woolner, Mr. Hugh",male,30.726645,0,0,19947,35.5000,C52,S,False,30代
57,58,0,3,"Novel, Mr. Mansouer",male,28.500000,0,0,2697,7.2292,NaN,C,True,20代
59,60,0,3,"Goodwin, Master. William Frederick",male,11.000000,5,2,CA 2144,46.9000,NaN,S,True,10代
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.000000,0,0,2669,7.2292,NaN,C,True,20代
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.000000,1,0,36973,83.4750,C83,S,False,40代
63,64,0,3,"Skoog, Master. Harald",male,4.000000,3,2,347088,27.9000,NaN,S,True,40代
64,65,0,1,"Stewart, Mr. Albert A",male,30.726645,0,0,PC 17605,27.7208,NaN,C,True,30代
65,66,1,3,"Moubarek, Master. Gerios",male,30.726645,1,1,2661,15.2458,NaN,C,True,30代
67,68,0,3,"Crease, Mr. Ernest James",male,19.000000,0,0,S.P. 3464,8.1583,NaN,S,True,10代
69,70,0,3,"Kink, Mr. Vincenz",male,26.000000,2,0,315151,8.6625,NaN,S,True,20代
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.000000,0,0,C.A. 33111,10.5000,NaN,S,True,30代
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.000000,0,0,S.O.C. 14879,73.5000,NaN,S,True,20代
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.000000,1,0,2680,14.4542,NaN,C,True,20代
74,75,1,3,"Bing, Mr. Lee",male,32.000000,0,0,1601,56.4958,NaN,S,True,30代
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.000000,0,0,348123,7.6500,F G73,S,False,20代
76,77,0,3,"Staneff, Mr. Ivan",male,30.726645,0,0,349208,7.8958,NaN,S,True,30代
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,30.726645,0,0,374746,8.0500,NaN,S,True,30代
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.830000,0,2,248738,29.0000,NaN,S,True,00代
80,81,0,3,"Waelens, Mr. Achille",male,22.000000,0,0,345767,9.0000,NaN,S,True,20代
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.000000,0,0,345779,9.5000,NaN,S,True,20代
83,84,0,1,"Carrau, Mr. Francisco M",male,28.000000,0,0,113059,47.1000,NaN,S,True,20代
86,87,0,3,"Ford, Mr. William Neal",male,16.000000,1,3,W./C. 6608,34.3750,NaN,S,True,10代
87,88,0,3,"Slocovski, Mr. Selman Francis",male,30.726645,0,0,SOTON/OQ 392086,8.0500,NaN,S,True,30代
89,90,0,3,"Celotti, Mr. Francesco",male,24.000000,0,0,343275,8.0500,NaN,S,True,20代
90,91,0,3,"Christmann, Mr. Emil",male,29.000000,0,0,343276,8.0500,NaN,S,True,20代
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.000000,0,0,347466,7.8542,NaN,S,True,20代
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.000000,1,0,W.E.P. 5734,61.1750,E31,S,False,40代
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.000000,1,2,C.A. 2315,20.5750,NaN,S,True,20代
94,95,0,3,"Coxon, Mr. Daniel",male,59.000000,0,0,364500,7.2500,NaN,S,True,50代
95,96,0,3,"Shorney, Mr. Charles Joseph",male,30.726645,0,0,374910,8.0500,NaN,S,True,30代
96,97,0,1,"Goldschmidt, Mr. George B",male,71.000000,0,0,PC 17754,34.6542,A5,C,False,70代
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.000000,0,1,PC 17759,63.3583,D10 D12,C,False,20代
99,100,0,2,"Kantor, Mr. Sinai",male,34.000000,1,0,244367,26.0000,NaN,S,True,30代
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,30.726645,0,0,349215,7.8958,NaN,S,True,30代
102,103,0,1,"White, Mr. Richard Frasar",male,21.000000,0,1,35281,77.2875,D26,S,False,20代
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.000000,0,0,7540,8.6542,NaN,S,True,30代
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.000000,2,0,3101276,7.9250,NaN,S,True,30代
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.000000,0,0,349207,7.8958,NaN,S,True,20代
107,108,1,3,"Moss, Mr. Albert Johan",male,30.726645,0,0,312991,7.7750,NaN,S,True,30代
108,109,0,3,"Rekic, Mr. Tido",male,38.000000,0,0,349249,7.8958,NaN,S,True,30代
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.000000,0,0,110465,52.0000,C110,S,False,40代
112,113,0,3,"Barton, Mr. David John",male,22.000000,0,0,324669,8.0500,NaN,S,True,20代
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.000000,0,0,STON/O 2. 3101294,7.9250,NaN,S,True,20代
116,117,0,3,"Connors, Mr. Patrick",male,70.500000,0,0,370369,7.7500,NaN,Q,True,70代
117,118,0,2,"Turpin, Mr. William John Robert",male,29.000000,1,0,11668,21.0000,NaN,S,True,20代
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.000000,0,1,PC 17558,247.5208,B58 B60,C,False,20代
120,121,0,2,"Hickman, Mr. Stanley George",male,21.000000,2,0,S.O.C. 14879,73.5000,NaN,S,True,20代
121,122,0,3,"Moore, Mr. Leonard Charles",male,30.726645,0,0,A4. 54510,8.0500,NaN,S,True,30代
122,123,0,2,"Nasser, Mr. Nicholas",male,32.500000,1,0,237736,30.0708,NaN,C,True,30代
124,125,0,1,"White, Mr. Percival Wayland",male,54.000000,0,1,35281,77.2875,D26,S,False,50代
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.000000,1,0,2651,11.2417,NaN,C,True,10代
126,127,0,3,"McMahon, Mr. Martin",male,30.726645,0,0,370372,7.7500,NaN,Q,True,30代
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.000000,0,0,C 17369,7.1417,NaN,S,True,20代
129,130,0,3,"Ekstrom, Mr. Johan",male,45.000000,0,0,347061,6.9750,NaN,S,True,40代
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.000000,0,0,349241,7.8958,NaN,C,True,30代
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.000000,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S,True,20代
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.000000,0,0,C.A. 29178,13.0000,NaN,S,True,20代
135,136,0,2,"Richard, Mr. Emile",male,23.000000,0,0,SC/PARIS 2133,15.0458,NaN,C,True,20代
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.000000,1,0,113803,53.1000,C123,S,False,30代
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.000000,0,0,7534,9.2167,NaN,S,True,10代
139,140,0,1,"Giglio, Mr. Victor",male,24.000000,0,0,PC 17593,79.2000,B86,C,False,20代
143,144,0,3,"Burke, Mr. Jeremiah",male,19.000000,0,0,365222,6.7500,NaN,Q,True,10代
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.000000,0,0,231945,11.5000,NaN,S,True,10代
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.000000,1,1,C.A. 33112,36.7500,NaN,S,True,10代
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.000000,0,0,350043,7.7958,NaN,S,True,20代
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.500000,0,2,230080,26.0000,F2,S,False,30代
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.000000,0,0,244310,13.0000,NaN,S,True,40代
150,151,0,2,"Bateman, Rev. Robert James",male,51.000000,0,0,S.O.P. 1166,12.5250,NaN,S,True,50代
152,153,0,3,"Meo, Mr. Alfonzo",male,55.500000,0,0,A.5. 11206,8.0500,NaN,S,True,50代
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.500000,0,2,A/5. 851,14.5000,NaN,S,True,40代
154,155,0,3,"Olsen, Mr. Ole Martin",male,30.726645,0,0,Fa 265302,7.3125,NaN,S,True,30代
155,156,0,1,"Williams, Mr. Charles Duane",male,51.000000,0,1,PC 17597,61.3792,NaN,C,True,50代
157,158,0,3,"Corn, Mr. Harry",male,30.000000,0,0,SOTON/OQ 392090,8.0500,NaN,S,True,30代
158,159,0,3,"Smiljanic, Mr. Mile",male,30.726645,0,0,315037,8.6625,NaN,S,True,30代
159,160,0,3,"Sage, Master. Thomas Henry",male,30.726645,8,2,CA. 2343,69.5500,NaN,S,True,30代
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.000000,0,1,371362,16.1000,NaN,S,True,40代
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.000000,0,0,347068,7.7750,NaN,S,True,20代
163,164,0,3,"Calic, Mr. Jovo",male,17.000000,0,0,315093,8.6625,NaN,S,True,10代
164,165,0,3,"Panula, Master. Eino Viljami",male,1.000000,4,1,3101295,39.6875,NaN,S,True,10代
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.000000,0,2,363291,20.5250,NaN,S,True,90代
168,169,0,1,"Baumann, Mr. John D",male,30.726645,0,0,PC 17318,25.9250,NaN,S,True,30代
169,170,0,3,"Ling, Mr. Lee",male,28.000000,0,0,1601,56.4958,NaN,S,True,20代
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.000000,0,0,111240,33.5000,B19,S,False,60代
171,172,0,3,"Rice, Master. Arthur",male,4.000000,4,1,382652,29.1250,NaN,Q,True,40代
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.000000,0,0,STON/O 2. 3101280,7.9250,NaN,S,True,20代
174,175,0,1,"Smith, Mr. James Clinch",male,56.000000,0,0,17764,30.6958,A7,C,False,50代
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.000000,1,1,350404,7.8542,NaN,S,True,10代
176,177,0,3,"Lefebre, Master. Henry Forbes",male,30.726645,3,1,4133,25.4667,NaN,S,True,30代
178,179,0,2,"Hale, Mr. Reginald",male,30.000000,0,0,250653,13.0000,NaN,S,True,30代
179,180,0,3,"Leonard, Mr. Lionel",male,36.000000,0,0,LINE,0.0000,NaN,S,True,30代
181,182,0,2,"Pernot, Mr. Rene",male,30.726645,0,0,SC/PARIS 2131,15.0500,NaN,C,True,30代
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.000000,4,2,347077,31.3875,NaN,S,True,90代
183,184,1,2,"Becker, Master. Richard F",male,1.000000,2,1,230136,39.0000,F4,S,False,10代
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,30.726645,0,0,113767,50.0000,A32,S,False,30代
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.000000,0,0,111428,26.5500,NaN,S,True,40代
188,189,0,3,"Bourke, Mr. John",male,40.000000,1,1,364849,15.5000,NaN,Q,True,40代
189,190,0,3,"Turcin, Mr. Stjepan",male,36.000000,0,0,349247,7.8958,NaN,S,True,30代
191,192,0,2,"Carbines, Mr. William",male,19.000000,0,0,28424,13.0000,NaN,S,True,10代
193,194,1,2,"Navratil, Master. Michel M",male,3.000000,1,1,230080,26.0000,F2,S,False,30代
196,197,0,3,"Mernagh, Mr. Robert",male,30.726645,0,0,368703,7.7500,NaN,Q,True,30代
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.000000,0,1,4579,8.4042,NaN,S,True,40代
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.000000,0,0,345770,9.5000,NaN,S,True,20代
201,202,0,3,"Sage, Mr. Frederick",male,30.726645,8,2,CA. 2343,69.5500,NaN,S,True,30代
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.000000,0,0,3101264,6.4958,NaN,S,True,30代
203,204,0,3,"Youseff, Mr. Gerious",male,45.500000,0,0,2628,7.2250,NaN,C,True,40代
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.000000,0,0,A/5 3540,8.0500,NaN,S,True,10代
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.000000,1,0,3101278,15.8500,NaN,S,True,30代
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.000000,0,0,2699,18.7875,NaN,C,True,20代
209,210,1,1,"Blank, Mr. Henry",male,40.000000,0,0,112277,31.0000,A31,C,False,40代
210,211,0,3,"Ali, Mr. Ahmed",male,24.000000,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,True,20代
212,213,0,3,"Perkin, Mr. John Henry",male,22.000000,0,0,A/5 21174,7.2500,NaN,S,True,20代
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.000000,0,0,250646,13.0000,NaN,S,True,30代
214,215,0,3,"Kiernan, Mr. Philip",male,30.726645,1,0,367229,7.7500,NaN,Q,True,30代
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.000000,1,0,243847,27.0000,NaN,S,True,40代
219,220,0,2,"Harris, Mr. Walter",male,30.000000,0,0,W/C 14208,10.5000,NaN,S,True,30代
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.000000,0,0,SOTON/OQ 392089,8.0500,NaN,S,True,10代
221,222,0,2,"Bracken, Mr. James H",male,27.000000,0,0,220367,13.0000,NaN,S,True,20代
222,223,0,3,"Green, Mr. George Henry",male,51.000000,0,0,21440,8.0500,NaN,S,True,50代
223,224,0,3,"Nenkoff, Mr. Christo",male,30.726645,0,0,349234,7.8958,NaN,S,True,30代
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.000000,1,0,19943,90.0000,C93,S,False,30代
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.000000,0,0,PP 4348,9.3500,NaN,S,True,20代
226,227,1,2,"Mellors, Mr. William John",male,19.000000,0,0,SW/PP 751,10.5000,NaN,S,True,10代
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.500000,0,0,A/5 21173,7.2500,NaN,S,True,20代
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.000000,0,0,236171,13.0000,NaN,S,True,10代
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.000000,0,0,347067,7.7750,NaN,S,True,20代
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.000000,0,0,237442,13.5000,NaN,S,True,50代
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.000000,0,0,C.A. 29566,10.5000,NaN,S,True,20代
236,237,0,2,"Hold, Mr. Stephen",male,44.000000,1,0,26707,26.0000,NaN,S,True,40代
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.000000,0,0,28665,10.5000,NaN,S,True,10代
239,240,0,2,"Hunt, Mr. George Henry",male,33.000000,0,0,SCO/W 1585,12.2750,NaN,S,True,30代
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.000000,0,0,W./C. 14263,10.5000,NaN,S,True,20代
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.000000,0,0,STON/O 2. 3101275,7.1250,NaN,S,True,20代
244,245,0,3,"Attalah, Mr. Sleiman",male,30.000000,0,0,2694,7.2250,NaN,C,True,30代
245,246,0,1,"Minahan, Dr. William Edward",male,44.000000,2,0,19928,90.0000,C78,Q,False,40代
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.000000,1,1,11751,52.5542,D35,S,False,30代
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.000000,1,0,244252,26.0000,NaN,S,True,50代
250,251,0,3,"Reed, Mr. James George",male,30.726645,0,0,362316,7.2500,NaN,S,True,30代
252,253,0,1,"Stead, Mr. William Thomas",male,62.000000,0,0,113514,26.5500,C87,S,False,60代
253,254,0,3,"Lobb, Mr. William Arthur",male,30.000000,1,0,A/5. 3336,16.1000,NaN,S,True,30代
260,261,0,3,"Smith, Mr. Thomas",male,30.726645,0,0,384461,7.7500,NaN,Q,True,30代
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.000000,4,2,347077,31.3875,NaN,S,True,30代
262,263,0,1,"Taussig, Mr. Emil",male,52.000000,1,1,110413,79.6500,E67,S,False,50代
263,264,0,1,"Harrison, Mr. William",male,40.000000,0,0,112059,0.0000,B94,S,False,40代
265,266,0,2,"Reeves, Mr. David",male,36.000000,0,0,C.A. 17248,10.5000,NaN,S,True,30代
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.000000,4,1,3101295,39.6875,NaN,S,True,10代
267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.000000,1,0,347083,7.7750,NaN,S,True,20代
270,271,0,1,"Cairns, Mr. Alexander",male,30.726645,0,0,113798,31.0000,NaN,S,True,30代
271,272,1,3,"Tornquist, Mr. William Henry",male,25.000000,0,0,LINE,0.0000,NaN,S,True,20代
273,274,0,1,"Natsch, Mr. Charles H",male,37.000000,0,1,PC 17596,29.7000,C118,C,False,30代
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,30.726645,0,0,239853,0.0000,NaN,S,True,30代
278,279,0,3,"Rice, Master. Eric",male,7.000000,4,1,382652,29.1250,NaN,Q,True,70代
280,281,0,3,"Duane, Mr. Frank",male,65.000000,0,0,336439,7.7500,NaN,Q,True,60代
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.000000,0,0,347464,7.8542,NaN,S,True,20代
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.000000,0,0,345778,9.5000,NaN,S,True,10代
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19.000000,0,0,A/5. 10482,8.0500,NaN,S,True,10代
284,285,0,1,"Smith, Mr. Richard William",male,30.726645,0,0,113056,26.0000,A19,S,False,30代
285,286,0,3,"Stankovic, Mr. Ivan",male,33.000000,0,0,349239,8.6625,NaN,C,True,30代
286,287,1,3,"de Mulder, Mr. Theodore",male,30.000000,0,0,345774,9.5000,NaN,S,True,30代
287,288,0,3,"Naidenoff, Mr. Penko",male,22.000000,0,0,349206,7.8958,NaN,S,True,20代
288,289,1,2,"Hosono, Mr. Masabumi",male,42.000000,0,0,237798,13.0000,NaN,S,True,40代
292,293,0,2,"Levy, Mr. Rene Jacques",male,36.000000,0,0,SC/Paris 2163,12.8750,D,C,False,30代
294,295,0,3,"Mineff, Mr. Ivan",male,24.000000,0,0,349233,7.8958,NaN,S,True,20代
295,296,0,1,"Lewy, Mr. Ervin G",male,30.726645,0,0,PC 17612,27.7208,NaN,C,True,30代
296,297,0,3,"Hanna, Mr. Mansour",male,23.500000,0,0,2693,7.2292,NaN,C,True,20代
298,299,1,1,"Saalfeld, Mr. Adolphe",male,30.726645,0,0,19988,30.5000,C106,S,False,30代
301,302,1,3,"McCoy, Mr. Bernard",male,30.726645,2,0,367226,23.2500,NaN,Q,True,30代
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.000000,0,0,LINE,0.0000,NaN,S,True,10代
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,30.726645,0,0,A/5 2466,8.0500,NaN,S,True,30代
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.920000,1,2,113781,151.5500,C22 C26,S,False,00代
308,309,0,2,"Abelson, Mr. Samuel",male,30.000000,1,0,P/PP 3381,24.0000,NaN,C,True,30代
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28.000000,0,0,349243,7.8958,NaN,S,True,20代
314,315,0,2,"Hart, Mr. Benjamin",male,43.000000,1,1,F.C.C. 13529,26.2500,NaN,S,True,40代
317,318,0,2,"Moraweck, Dr. Ernest",male,54.000000,0,0,29011,14.0000,NaN,S,True,50代
320,321,0,3,"Dennis, Mr. Samuel",male,22.000000,0,0,A/5 21172,7.2500,NaN,S,True,20代
321,322,0,3,"Danoff, Mr. Yoto",male,27.000000,0,0,349219,7.8958,NaN,S,True,20代
324,325,0,3,"Sage, Mr. George John Jr",male,30.726645,8,2,CA. 2343,69.5500,NaN,S,True,30代
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.000000,0,0,345364,6.2375,NaN,S,True,60代
331,332,0,1,"Partner, Mr. Austen",male,45.500000,0,0,113043,28.5000,C124,S,False,40代
332,333,0,1,"Graham, Mr. George Edward",male,38.000000,0,1,PC 17582,153.4625,C91,S,False,30代
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.000000,2,0,345764,18.0000,NaN,S,True,10代
335,336,0,3,"Denkoff, Mr. Mitto",male,30.726645,0,0,349225,7.8958,NaN,S,True,30代
336,337,0,1,"Pears, Mr. Thomas Clinton",male,29.000000,1,0,113776,66.6000,C2,S,False,20代
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.000000,0,0,7598,8.0500,NaN,S,True,40代
339,340,0,1,"Blackwell, Mr. Stephen Weart",male,45.000000,0,0,113784,35.5000,T,S,False,40代
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.000000,1,1,230080,26.0000,F2,S,False,20代
342,343,0,2,"Collander, Mr. Erik Gustaf",male,28.000000,0,0,248740,13.0000,NaN,S,True,20代
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.000000,0,0,244361,13.0000,NaN,S,True,20代
344,345,0,2,"Fox, Mr. Stanley Hubert",male,36.000000,0,0,229236,13.0000,NaN,S,True,30代
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.000000,1,1,C.A. 37671,15.9000,NaN,S,True,30代
349,350,0,3,"Dimic, Mr. Jovan",male,42.000000,0,0,315088,8.6625,NaN,S,True,40代
350,351,0,3,"Odahl, Mr. Nils Martin",male,23.000000,0,0,7267,9.2250,NaN,S,True,20代
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,30.726645,0,0,113510,35.0000,C128,S,False,30代
352,353,0,3,"Elias, Mr. Tannous",male,15.000000,1,1,2695,7.2292,NaN,C,True,10代
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25.000000,1,0,349237,17.8000,NaN,S,True,20代
354,355,0,3,"Yousif, Mr. Wazli",male,30.726645,0,0,2647,7.2250,NaN,C,True,30代
355,356,0,3,"Vanden Steen, Mr. Leo Peter",male,28.000000,0,0,345783,9.5000,NaN,S,True,20代
360,361,0,3,"Skoog, Mr. Wilhelm",male,40.000000,1,4,347088,27.9000,NaN,S,True,40代

In [114]:
# lambdaを使用
f = lambda x: str(x)[0] + '0代'
f(48)

'40代'

In [117]:
df['age-group'] = df['Age'].apply(lambda x: str(x)[0] + '0代')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_nan,Age_group,age-group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,True,20代,20代
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,True,30代,30代
5,6,0,3,"Moran, Mr. James",male,30.726645,0,0,330877,8.4583,NaN,Q,True,30代,30代
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S,False,50代,50代
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,NaN,S,True,20代,20代
12,13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,NaN,S,True,20代,20代
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,NaN,S,True,30代,30代
16,17,0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,NaN,Q,True,20代,20代
17,18,1,2,"Williams, Mr. Charles Eugene",male,30.726645,0,0,244373,13.0000,NaN,S,True,30代,30代
20,21,0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,NaN,S,True,30代,30代
21,22,1,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,D56,S,False,30代,30代
23,24,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,S,False,20代,20代
26,27,0,3,"Emir, Mr. Farred Chehab",male,30.726645,0,0,2631,7.2250,NaN,C,True,30代,30代
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,S,False,10代,10代
29,30,0,3,"Todoroff, Mr. Lalio",male,30.726645,0,0,349216,7.8958,NaN,S,True,30代,30代
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.000000,0,0,PC 17601,27.7208,NaN,C,True,40代,40代
33,34,0,2,"Wheadon, Mr. Edward H",male,66.000000,0,0,C.A. 24579,10.5000,NaN,S,True,60代,60代
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.000000,1,0,PC 17604,82.1708,NaN,C,True,20代,20代
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.000000,1,0,113789,52.0000,NaN,S,True,40代,40代
36,37,1,3,"Mamee, Mr. Hanna",male,30.726645,0,0,2677,7.2292,NaN,C,True,30代,30代
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.000000,0,0,A./5. 2152,8.0500,NaN,S,True,20代,20代
42,43,0,3,"Kraeff, Mr. Theodor",male,30.726645,0,0,349253,7.8958,NaN,C,True,30代,30代
45,46,0,3,"Rogers, Mr. William John",male,30.726645,0,0,S.C./A.4. 23567,8.0500,NaN,S,True,30代,30代
46,47,0,3,"Lennon, Mr. Denis",male,30.726645,1,0,370371,15.5000,NaN,Q,True,30代,30代
48,49,0,3,"Samaan, Mr. Youssef",male,30.726645,2,0,2662,21.6792,NaN,C,True,30代,30代
50,51,0,3,"Panula, Master. Juha Niilo",male,7.000000,4,1,3101295,39.6875,NaN,S,True,70代,70代
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.000000,0,0,A/4. 39886,7.8000,NaN,S,True,20代,20代
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.000000,0,1,113509,61.9792,B30,C,False,60代,60代
55,56,1,1,"Woolner, Mr. Hugh",male,30.726645,0,0,19947,35.5000,C52,S,False,30代,30代
57,58,0,3,"Novel, Mr. Mansouer",male,28.500000,0,0,2697,7.2292,NaN,C,True,20代,20代
59,60,0,3,"Goodwin, Master. William Frederick",male,11.000000,5,2,CA 2144,46.9000,NaN,S,True,10代,10代
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.000000,0,0,2669,7.2292,NaN,C,True,20代,20代
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.000000,1,0,36973,83.4750,C83,S,False,40代,40代
63,64,0,3,"Skoog, Master. Harald",male,4.000000,3,2,347088,27.9000,NaN,S,True,40代,40代
64,65,0,1,"Stewart, Mr. Albert A",male,30.726645,0,0,PC 17605,27.7208,NaN,C,True,30代,30代
65,66,1,3,"Moubarek, Master. Gerios",male,30.726645,1,1,2661,15.2458,NaN,C,True,30代,30代
67,68,0,3,"Crease, Mr. Ernest James",male,19.000000,0,0,S.P. 3464,8.1583,NaN,S,True,10代,10代
69,70,0,3,"Kink, Mr. Vincenz",male,26.000000,2,0,315151,8.6625,NaN,S,True,20代,20代
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.000000,0,0,C.A. 33111,10.5000,NaN,S,True,30代,30代
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.000000,0,0,S.O.C. 14879,73.5000,NaN,S,True,20代,20代
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.000000,1,0,2680,14.4542,NaN,C,True,20代,20代
74,75,1,3,"Bing, Mr. Lee",male,32.000000,0,0,1601,56.4958,NaN,S,True,30代,30代
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.000000,0,0,348123,7.6500,F G73,S,False,20代,20代
76,77,0,3,"Staneff, Mr. Ivan",male,30.726645,0,0,349208,7.8958,NaN,S,True,30代,30代
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,30.726645,0,0,374746,8.0500,NaN,S,True,30代,30代
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.830000,0,2,248738,29.0000,NaN,S,True,00代,00代
80,81,0,3,"Waelens, Mr. Achille",male,22.000000,0,0,345767,9.0000,NaN,S,True,20代,20代
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.000000,0,0,345779,9.5000,NaN,S,True,20代,20代
83,84,0,1,"Carrau, Mr. Francisco M",male,28.000000,0,0,113059,47.1000,NaN,S,True,20代,20代
86,87,0,3,"Ford, Mr. William Neal",male,16.000000,1,3,W./C. 6608,34.3750,NaN,S,True,10代,10代
87,88,0,3,"Slocovski, Mr. Selman Francis",male,30.726645,0,0,SOTON/OQ 392086,8.0500,NaN,S,True,30代,30代
89,90,0,3,"Celotti, Mr. Francesco",male,24.000000,0,0,343275,8.0500,NaN,S,True,20代,20代
90,91,0,3,"Christmann, Mr. Emil",male,29.000000,0,0,343276,8.0500,NaN,S,True,20代,20代
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.000000,0,0,347466,7.8542,NaN,S,True,20代,20代
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.000000,1,0,W.E.P. 5734,61.1750,E31,S,False,40代,40代
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.000000,1,2,C.A. 2315,20.5750,NaN,S,True,20代,20代
94,95,0,3,"Coxon, Mr. Daniel",male,59.000000,0,0,364500,7.2500,NaN,S,True,50代,50代
95,96,0,3,"Shorney, Mr. Charles Joseph",male,30.726645,0,0,374910,8.0500,NaN,S,True,30代,30代
96,97,0,1,"Goldschmidt, Mr. George B",male,71.000000,0,0,PC 17754,34.6542,A5,C,False,70代,70代
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.000000,0,1,PC 17759,63.3583,D10 D12,C,False,20代,20代
99,100,0,2,"Kantor, Mr. Sinai",male,34.000000,1,0,244367,26.0000,NaN,S,True,30代,30代
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,30.726645,0,0,349215,7.8958,NaN,S,True,30代,30代
102,103,0,1,"White, Mr. Richard Frasar",male,21.000000,0,1,35281,77.2875,D26,S,False,20代,20代
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.000000,0,0,7540,8.6542,NaN,S,True,30代,30代
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.000000,2,0,3101276,7.9250,NaN,S,True,30代,30代
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.000000,0,0,349207,7.8958,NaN,S,True,20代,20代
107,108,1,3,"Moss, Mr. Albert Johan",male,30.726645,0,0,312991,7.7750,NaN,S,True,30代,30代
108,109,0,3,"Rekic, Mr. Tido",male,38.000000,0,0,349249,7.8958,NaN,S,True,30代,30代
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.000000,0,0,110465,52.0000,C110,S,False,40代,40代
112,113,0,3,"Barton, Mr. David John",male,22.000000,0,0,324669,8.0500,NaN,S,True,20代,20代
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.000000,0,0,STON/O 2. 3101294,7.9250,NaN,S,True,20代,20代
116,117,0,3,"Connors, Mr. Patrick",male,70.500000,0,0,370369,7.7500,NaN,Q,True,70代,70代
117,118,0,2,"Turpin, Mr. William John Robert",male,29.000000,1,0,11668,21.0000,NaN,S,True,20代,20代
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.000000,0,1,PC 17558,247.5208,B58 B60,C,False,20代,20代
120,121,0,2,"Hickman, Mr. Stanley George",male,21.000000,2,0,S.O.C. 14879,73.5000,NaN,S,True,20代,20代
121,122,0,3,"Moore, Mr. Leonard Charles",male,30.726645,0,0,A4. 54510,8.0500,NaN,S,True,30代,30代
122,123,0,2,"Nasser, Mr. Nicholas",male,32.500000,1,0,237736,30.0708,NaN,C,True,30代,30代
124,125,0,1,"White, Mr. Percival Wayland",male,54.000000,0,1,35281,77.2875,D26,S,False,50代,50代
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.000000,1,0,2651,11.2417,NaN,C,True,10代,10代
126,127,0,3,"McMahon, Mr. Martin",male,30.726645,0,0,370372,7.7500,NaN,Q,True,30代,30代
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.000000,0,0,C 17369,7.1417,NaN,S,True,20代,20代
129,130,0,3,"Ekstrom, Mr. Johan",male,45.000000,0,0,347061,6.9750,NaN,S,True,40代,40代
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.000000,0,0,349241,7.8958,NaN,C,True,30代,30代
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.000000,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S,True,20代,20代
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.000000,0,0,C.A. 29178,13.0000,NaN,S,True,20代,20代
135,136,0,2,"Richard, Mr. Emile",male,23.000000,0,0,SC/PARIS 2133,15.0458,NaN,C,True,20代,20代
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.000000,1,0,113803,53.1000,C123,S,False,30代,30代
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.000000,0,0,7534,9.2167,NaN,S,True,10代,10代
139,140,0,1,"Giglio, Mr. Victor",male,24.000000,0,0,PC 17593,79.2000,B86,C,False,20代,20代
143,144,0,3,"Burke, Mr. Jeremiah",male,19.000000,0,0,365222,6.7500,NaN,Q,True,10代,10代
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.000000,0,0,231945,11.5000,NaN,S,True,10代,10代
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.000000,1,1,C.A. 33112,36.7500,NaN,S,True,10代,10代
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.000000,0,0,350043,7.7958,NaN,S,True,20代,20代
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.500000,0,2,230080,26.0000,F2,S,False,30代,30代
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.000000,0,0,244310,13.0000,NaN,S,True,40代,40代
150,151,0,2,"Bateman, Rev. Robert James",male,51.000000,0,0,S.O.P. 1166,12.5250,NaN,S,True,50代,50代
152,153,0,3,"Meo, Mr. Alfonzo",male,55.500000,0,0,A.5. 11206,8.0500,NaN,S,True,50代,50代
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.500000,0,2,A/5. 851,14.5000,NaN,S,True,40代,40代
154,155,0,3,"Olsen, Mr. Ole Martin",male,30.726645,0,0,Fa 265302,7.3125,NaN,S,True,30代,30代
155,156,0,1,"Williams, Mr. Charles Duane",male,51.000000,0,1,PC 17597,61.3792,NaN,C,True,50代,50代
157,158,0,3,"Corn, Mr. Harry",male,30.000000,0,0,SOTON/OQ 392090,8.0500,NaN,S,True,30代,30代
158,159,0,3,"Smiljanic, Mr. Mile",male,30.726645,0,0,315037,8.6625,NaN,S,True,30代,30代
159,160,0,3,"Sage, Master. Thomas Henry",male,30.726645,8,2,CA. 2343,69.5500,NaN,S,True,30代,30代
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.000000,0,1,371362,16.1000,NaN,S,True,40代,40代
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.000000,0,0,347068,7.7750,NaN,S,True,20代,20代
163,164,0,3,"Calic, Mr. Jovo",male,17.000000,0,0,315093,8.6625,NaN,S,True,10代,10代
164,165,0,3,"Panula, Master. Eino Viljami",male,1.000000,4,1,3101295,39.6875,NaN,S,True,10代,10代
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.000000,0,2,363291,20.5250,NaN,S,True,90代,90代
168,169,0,1,"Baumann, Mr. John D",male,30.726645,0,0,PC 17318,25.9250,NaN,S,True,30代,30代
169,170,0,3,"Ling, Mr. Lee",male,28.000000,0,0,1601,56.4958,NaN,S,True,20代,20代
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.000000,0,0,111240,33.5000,B19,S,False,60代,60代
171,172,0,3,"Rice, Master. Arthur",male,4.000000,4,1,382652,29.1250,NaN,Q,True,40代,40代
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.000000,0,0,STON/O 2. 3101280,7.9250,NaN,S,True,20代,20代
174,175,0,1,"Smith, Mr. James Clinch",male,56.000000,0,0,17764,30.6958,A7,C,False,50代,50代
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.000000,1,1,350404,7.8542,NaN,S,True,10代,10代
176,177,0,3,"Lefebre, Master. Henry Forbes",male,30.726645,3,1,4133,25.4667,NaN,S,True,30代,30代
178,179,0,2,"Hale, Mr. Reginald",male,30.000000,0,0,250653,13.0000,NaN,S,True,30代,30代
179,180,0,3,"Leonard, Mr. Lionel",male,36.000000,0,0,LINE,0.0000,NaN,S,True,30代,30代
181,182,0,2,"Pernot, Mr. Rene",male,30.726645,0,0,SC/PARIS 2131,15.0500,NaN,C,True,30代,30代
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.000000,4,2,347077,31.3875,NaN,S,True,90代,90代
183,184,1,2,"Becker, Master. Richard F",male,1.000000,2,1,230136,39.0000,F4,S,False,10代,10代
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,30.726645,0,0,113767,50.0000,A32,S,False,30代,30代
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.000000,0,0,111428,26.5500,NaN,S,True,40代,40代
188,189,0,3,"Bourke, Mr. John",male,40.000000,1,1,364849,15.5000,NaN,Q,True,40代,40代
189,190,0,3,"Turcin, Mr. Stjepan",male,36.000000,0,0,349247,7.8958,NaN,S,True,30代,30代
191,192,0,2,"Carbines, Mr. William",male,19.000000,0,0,28424,13.0000,NaN,S,True,10代,10代
193,194,1,2,"Navratil, Master. Michel M",male,3.000000,1,1,230080,26.0000,F2,S,False,30代,30代
196,197,0,3,"Mernagh, Mr. Robert",male,30.726645,0,0,368703,7.7500,NaN,Q,True,30代,30代
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.000000,0,1,4579,8.4042,NaN,S,True,40代,40代
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.000000,0,0,345770,9.5000,NaN,S,True,20代,20代
201,202,0,3,"Sage, Mr. Frederick",male,30.726645,8,2,CA. 2343,69.5500,NaN,S,True,30代,30代
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.000000,0,0,3101264,6.4958,NaN,S,True,30代,30代
203,204,0,3,"Youseff, Mr. Gerious",male,45.500000,0,0,2628,7.2250,NaN,C,True,40代,40代
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.000000,0,0,A/5 3540,8.0500,NaN,S,True,10代,10代
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.000000,1,0,3101278,15.8500,NaN,S,True,30代,30代
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.000000,0,0,2699,18.7875,NaN,C,True,20代,20代
209,210,1,1,"Blank, Mr. Henry",male,40.000000,0,0,112277,31.0000,A31,C,False,40代,40代
210,211,0,3,"Ali, Mr. Ahmed",male,24.000000,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,True,20代,20代
212,213,0,3,"Perkin, Mr. John Henry",male,22.000000,0,0,A/5 21174,7.2500,NaN,S,True,20代,20代
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.000000,0,0,250646,13.0000,NaN,S,True,30代,30代
214,215,0,3,"Kiernan, Mr. Philip",male,30.726645,1,0,367229,7.7500,NaN,Q,True,30代,30代
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.000000,1,0,243847,27.0000,NaN,S,True,40代,40代
219,220,0,2,"Harris, Mr. Walter",male,30.000000,0,0,W/C 14208,10.5000,NaN,S,True,30代,30代
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.000000,0,0,SOTON/OQ 392089,8.0500,NaN,S,True,10代,10代
221,222,0,2,"Bracken, Mr. James H",male,27.000000,0,0,220367,13.0000,NaN,S,True,20代,20代
222,223,0,3,"Green, Mr. George Henry",male,51.000000,0,0,21440,8.0500,NaN,S,True,50代,50代
223,224,0,3,"Nenkoff, Mr. Christo",male,30.726645,0,0,349234,7.8958,NaN,S,True,30代,30代
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.000000,1,0,19943,90.0000,C93,S,False,30代,30代
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.000000,0,0,PP 4348,9.3500,NaN,S,True,20代,20代
226,227,1,2,"Mellors, Mr. William John",male,19.000000,0,0,SW/PP 751,10.5000,NaN,S,True,10代,10代
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.500000,0,0,A/5 21173,7.2500,NaN,S,True,20代,20代
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.000000,0,0,236171,13.0000,NaN,S,True,10代,10代
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.000000,0,0,347067,7.7750,NaN,S,True,20代,20代
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.000000,0,0,237442,13.5000,NaN,S,True,50代,50代
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.000000,0,0,C.A. 29566,10.5000,NaN,S,True,20代,20代
236,237,0,2,"Hold, Mr. Stephen",male,44.000000,1,0,26707,26.0000,NaN,S,True,40代,40代
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.000000,0,0,28665,10.5000,NaN,S,True,10代,10代
239,240,0,2,"Hunt, Mr. George Henry",male,33.000000,0,0,SCO/W 1585,12.2750,NaN,S,True,30代,30代
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.000000,0,0,W./C. 14263,10.5000,NaN,S,True,20代,20代
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.000000,0,0,STON/O 2. 3101275,7.1250,NaN,S,True,20代,20代
244,245,0,3,"Attalah, Mr. Sleiman",male,30.000000,0,0,2694,7.2250,NaN,C,True,30代,30代
245,246,0,1,"Minahan, Dr. William Edward",male,44.000000,2,0,19928,90.0000,C78,Q,False,40代,40代
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.000000,1,1,11751,52.5542,D35,S,False,30代,30代
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.000000,1,0,244252,26.0000,NaN,S,True,50代,50代
250,251,0,3,"Reed, Mr. James George",male,30.726645,0,0,362316,7.2500,NaN,S,True,30代,30代
252,253,0,1,"Stead, Mr. William Thomas",male,62.000000,0,0,113514,26.5500,C87,S,False,60代,60代
253,254,0,3,"Lobb, Mr. William Arthur",male,30.000000,1,0,A/5. 3336,16.1000,NaN,S,True,30代,30代
260,261,0,3,"Smith, Mr. Thomas",male,30.726645,0,0,384461,7.7500,NaN,Q,True,30代,30代
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.000000,4,2,347077,31.3875,NaN,S,True,30代,30代
262,263,0,1,"Taussig, Mr. Emil",male,52.000000,1,1,110413,79.6500,E67,S,False,50代,50代
263,264,0,1,"Harrison, Mr. William",male,40.000000,0,0,112059,0.0000,B94,S,False,40代,40代
265,266,0,2,"Reeves, Mr. David",male,36.000000,0,0,C.A. 17248,10.5000,NaN,S,True,30代,30代
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.000000,4,1,3101295,39.6875,NaN,S,True,10代,10代
267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.000000,1,0,347083,7.7750,NaN,S,True,20代,20代
270,271,0,1,"Cairns, Mr. Alexander",male,30.726645,0,0,113798,31.0000,NaN,S,True,30代,30代
271,272,1,3,"Tornquist, Mr. William Henry",male,25.000000,0,0,LINE,0.0000,NaN,S,True,20代,20代
273,274,0,1,"Natsch, Mr. Charles H",male,37.000000,0,1,PC 17596,29.7000,C118,C,False,30代,30代
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,30.726645,0,0,239853,0.0000,NaN,S,True,30代,30代
278,279,0,3,"Rice, Master. Eric",male,7.000000,4,1,382652,29.1250,NaN,Q,True,70代,70代
280,281,0,3,"Duane, Mr. Frank",male,65.000000,0,0,336439,7.7500,NaN,Q,True,60代,60代
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.000000,0,0,347464,7.8542,NaN,S,True,20代,20代
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.000000,0,0,345778,9.5000,NaN,S,True,10代,10代
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19.000000,0,0,A/5. 10482,8.0500,NaN,S,True,10代,10代
284,285,0,1,"Smith, Mr. Richard William",male,30.726645,0,0,113056,26.0000,A19,S,False,30代,30代
285,286,0,3,"Stankovic, Mr. Ivan",male,33.000000,0,0,349239,8.6625,NaN,C,True,30代,30代
286,287,1,3,"de Mulder, Mr. Theodore",male,30.000000,0,0,345774,9.5000,NaN,S,True,30代,30代
287,288,0,3,"Naidenoff, Mr. Penko",male,22.000000,0,0,349206,7.8958,NaN,S,True,20代,20代
288,289,1,2,"Hosono, Mr. Masabumi",male,42.000000,0,0,237798,13.0000,NaN,S,True,40代,40代
292,293,0,2,"Levy, Mr. Rene Jacques",male,36.000000,0,0,SC/Paris 2163,12.8750,D,C,False,30代,30代
294,295,0,3,"Mineff, Mr. Ivan",male,24.000000,0,0,349233,7.8958,NaN,S,True,20代,20代
295,296,0,1,"Lewy, Mr. Ervin G",male,30.726645,0,0,PC 17612,27.7208,NaN,C,True,30代,30代
296,297,0,3,"Hanna, Mr. Mansour",male,23.500000,0,0,2693,7.2292,NaN,C,True,20代,20代
298,299,1,1,"Saalfeld, Mr. Adolphe",male,30.726645,0,0,19988,30.5000,C106,S,False,30代,30代
301,302,1,3,"McCoy, Mr. Bernard",male,30.726645,2,0,367226,23.2500,NaN,Q,True,30代,30代
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.000000,0,0,LINE,0.0000,NaN,S,True,10代,10代
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,30.726645,0,0,A/5 2466,8.0500,NaN,S,True,30代,30代
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.920000,1,2,113781,151.5500,C22 C26,S,False,00代,00代
308,309,0,2,"Abelson, Mr. Samuel",male,30.000000,1,0,P/PP 3381,24.0000,NaN,C,True,30代,30代
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28.000000,0,0,349243,7.8958,NaN,S,True,20代,20代
314,315,0,2,"Hart, Mr. Benjamin",male,43.000000,1,1,F.C.C. 13529,26.2500,NaN,S,True,40代,40代
317,318,0,2,"Moraweck, Dr. Ernest",male,54.000000,0,0,29011,14.0000,NaN,S,True,50代,50代
320,321,0,3,"Dennis, Mr. Samuel",male,22.000000,0,0,A/5 21172,7.2500,NaN,S,True,20代,20代
321,322,0,3,"Danoff, Mr. Yoto",male,27.000000,0,0,349219,7.8958,NaN,S,True,20代,20代
324,325,0,3,"Sage, Mr. George John Jr",male,30.726645,8,2,CA. 2343,69.5500,NaN,S,True,30代,30代
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.000000,0,0,345364,6.2375,NaN,S,True,60代,60代
331,332,0,1,"Partner, Mr. Austen",male,45.500000,0,0,113043,28.5000,C124,S,False,40代,40代
332,333,0,1,"Graham, Mr. George Edward",male,38.000000,0,1,PC 17582,153.4625,C91,S,False,30代,30代
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.000000,2,0,345764,18.0000,NaN,S,True,10代,10代
335,336,0,3,"Denkoff, Mr. Mitto",male,30.726645,0,0,349225,7.8958,NaN,S,True,30代,30代
336,337,0,1,"Pears, Mr. Thomas Clinton",male,29.000000,1,0,113776,66.6000,C2,S,False,20代,20代
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.000000,0,0,7598,8.0500,NaN,S,True,40代,40代
339,340,0,1,"Blackwell, Mr. Stephen Weart",male,45.000000,0,0,113784,35.5000,T,S,False,40代,40代
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.000000,1,1,230080,26.0000,F2,S,False,20代,20代
342,343,0,2,"Collander, Mr. Erik Gustaf",male,28.000000,0,0,248740,13.0000,NaN,S,True,20代,20代
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.000000,0,0,244361,13.0000,NaN,S,True,20代,20代

In [118]:
df = pd.DataFrame({ 'name': ['john', 'Mike', 'Emily'],
                    'age': ['23', '36', '42']})

df['description'] = df.apply(lambda row: '{} is {} years old'.format(row['name'], row['age']), axis=1)
df

    name age            description
0   john  23   john is 23 years old
1   Mike  36   Mike is 36 years old
2  Emily  42  Emily is 42 years old

## CSV形式で保存

In [121]:
df = pd.read_csv('/home/jovyan/work/train.csv')
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [124]:
# 行・列の表示設定をリセット
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

In [125]:
df['Adult'] = df['Age'].apply(lambda age: True if age > 20 else False)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Adult
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,True
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,True
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,False
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,True
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,True

In [127]:
df.to_csv('train_adult.csv')

In [128]:
# dockerのルート直下に生成される
df = pd.read_csv('train_adult.csv')
df.head(3)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Adult
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,True
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,True

In [129]:
# 年齢が若い順にソート
# デフォルトは昇順ソート(小→大)。降順ソート(大→小)にするには ascending=False を指定
df.sort_values('Age')

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Adult
803,803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,False
755,755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,False
644,644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,False
469,469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,False
78,78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,False
863,863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,False
868,868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,False
878,878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,False
888,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False